<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>196173659226-r2qco9gnih934dl7kq2robeuhotp1jl2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196173659226-r2qco9gnih934dl7kq2robeuhotp1jl2</string>
	<key>API_KEY</key>
	<string>AIzaSyC_U1wfeVgTyHEGahqsOc9Xv2VaSxywIzE</string>
	<key>GCM_SENDER_ID</key>
	<string>196173659226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ticTacToe</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-27164</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-27164.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196173659226:ios:a0e016d9508aa550db2c63</string>
</dict>
</plist>